.thumbnail
  .caption
    %p= image_tag 'cloud.png', class: 'img-responsive pull-left padded-right-bottom-image', width: locals[:default_image_width]
    %h4
      %strong Everything Cloud
    %p
      Time-to-market, more flexible support for business strategies by IT, and faster response time to
      competitive conditions are combining to accelerate cloud computing adoption today.
    %p
      If you are looking for expertise in cloud computing then we can help. Cloud computing has become an integral
      part of businesses of all sizes because it allows a company to focus on what they do best without the hassle
      of hardware and software.
    %strong
      = link_to '#', id: 'toggle-cloud-text' do
        = locals[:read_more_label]
    %div#cloud-text
      %p
        Cloud computing is in high demand because it allows companies to scale with ease. They can pay for as much as
        they use whether it be processing, storage or other cloud services. The cloud brings a high level of
        automation to tasks that in the past was not possible which can save companies time and money.
      %p
        There are many different cloud computing solutions and it can be daunting to figure out what exactly your
        company needs. Our cloud computing experts know this and can help you form a plan for your cloud
        implementation.
      %p
        Together we'll explore the power, flexibility and cost savings that cloud computing offers and how it can
        benefit your organization.
      %p
        %strong Check out this great short video called
        = link_to 'What is Cloud Computing?', 'http://youtu.be/ae_DKNwK_ms', target: :_blank
