%p
  If you have a great idea for a website but want to save on development costs,
  = link_to 'Content Management Systems (CMS)', 'https://en.wikipedia.org/wiki/Content_management_system', target: :_blank
  may be the best solution.
%p
  CMS provides a less flexible framework for building websites but at a much lower cost. You choose
  from a predetermined set of layout templates.
