%p
  Have an app idea or design you want to get into this rapidly growing marketplace?
%p
  Let's build the next great mobile app for the iOS or Android platform.
%p
  = image_tag 'new.png', width: 50, class: 'pull-left'
%p
  %strong
    We are very excited to announce the release of our new corporate mobile application that is optimized for the mobile
    experience!
%p
  = link_to 'https://play.google.com/store/apps/details?id=com.missionridgeconsulting.mrsc_mobile&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1', target: :_blank do
    = image_tag 'google_play_store.png', width: 110
%p
  We love building mobile apps. We specialize in iPhone, iPad & Android app development.
