%p
  If you're looking for
  = link_to 'Ruby on Rails', 'http://rubyonrails.org', target: :_blank
  development, you've come to the right place.
%p
  Rails development is our passion and we love building applications with this framework because of the speed
  of development and the many products around it including
  = link_to 'Heroku', 'https://www.heroku.com/', target: :_blank
  for hosting, New Relic for monitoring and many more.
