.well
  %center
    %h3 Have a project we can help with?
    = link_to "LET'S TALK ABOUT YOUR PROJECT &raquo;".html_safe, url_for(controller: 'pages', action: 'start_a_project'), class: 'btn btn-warning', id: 'lets-talk-about-your-project'
