.well
  %center
    %h3 Have a project we can help with?
    %a.btn.btn-warning#lets-talk-about-your-project{href: url_for(:controller => 'pages', :action => 'start_a_project')} LET'S TALK ABOUT YOUR PROJECT &raquo;
