#container
  %main-image
    =image_tag 'index.jpg', :class => 'img-responsive img-rounded'
  #main-image-text
    = greeting
    #main-image-learn-more-button
      %a.btn.btn-warning{href: '#start'} LEARN MORE
#start
