%p
  =image_tag 'contact.jpg', :class => 'img-responsive img-rounded'
.row
  .col-md-6.col-sm-6
    .well-lg
      %blockquote
        %address
          %strong Mailing Address
          %br/
          Mission Ridge Software Consulting LLC
          %br/
          1410 Harbor View Drive
          %br/
          Santa Barbara, CA 93103
          %br/
          %abbr{title: 'Phone'} P:
          (805) 705-7929
        %address
          %strong Email
          %br/
          %a{href: "mailto:jonmarinello@gmail.com"} Jon Marinello
        %address
          %strong Skype
          %br/
          %br/
          %a{href: 'skype:jon.marinello.mrsc?chat'}
            =image_tag 'skype.jpg', :class => 'mrsc-padded-image img-responsive pull-left', :width => 80
          If you would like to Skype us click the skype button and include a short message that explains a summary of your request
          for information and that it is related to Mission Ridge Software Consulting LLC.
  .col-md-6.col-sm-6
    %iframe{:frameborder => "0", :height => "400", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26328.953979405916!2d-119.66473400000005!3d34.423725999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e913bb21fdb28d%3A0xfb6a9d458dfaa3bf!2s1410+Harbor+View+Dr!5e0!3m2!1sen!2sus!4v1404473191641", :style => "border:0", :width => "400"}
