=render 'layouts/main_nav_bar'
%p
  =image_tag 'contact.jpg', :class => 'img-responsive img-rounded'
.well-lg
  %blockquote
    %address
      %strong Mailing Address
      %br/
      Mission Ridge Software Consulting LLC
      %br/
      1410 Harbor View Drive
      %br/
      Santa Barbara, CA 93103
      %br/
      %abbr{title: 'Phone'} P:
      (805) 705-7929
    %address
      %strong Email
      %br/
      %a{href: "mailto:jonmarinello@gmail.com"} Jon Marinello
    %address
      %strong Skype
      %br/
      If you would like to Skype us, please be sure to include a short message that explains a summary of your request
      for information and that it is related to Mission Ridge Software Consulting LLC. Just click to Skype button below:
      %br/
      %a{href: 'skype:jon.marinello.mrsc?chat'}
        =image_tag 'skype.jpg', :class => 'img-responsive', :width => 80
