= render partial: 'shared/image_carousel', :locals => {:page => 'portfolio'}
%h3
  We work well with others
.row
  .col-md-4
    .thumbnail
      .caption
        %h4
          %center
            %a{:target => '_blank', :href => 'http://www.finandfield.com'}
              =image_tag 'fin_and_field.jpg', :class => 'img-responsive img-rounded'
        %p
          %strong
            Fin & Field is all about the sportsman. Dedicated to those in search of their next outdoor adventure
            and to the outfitters, captains, and guides that make it all possible.
        %p
          In May of 2014 we were engaged by Fin & Field to join the engineering team to build their web-based SaaS
          platform. The Fin & Field platform provides a large-scale ecosystem to efficiently connect the huge market
          of hunters and anglers with the hunting guides, hunting lodges, boat captains and marinas in the US.
          The platform integrates many of the general concepts found in social networking and booking sites like
          Facebook and AirBnB.
        %p
          The platform is implemented using Ruby on Rails running on the Heroku cloud. The website employs the
          Responsive web design (RWD) approach. This web design approach is aimed at crafting sites to provide an
          optimal viewing experience—easy reading and navigation with a minimum of resizing, panning, and
          scrolling—across a wide range of devices (from mobile phones to desktop computer monitors). The website
          is styled using bootstrap 3 and uses the fluid grid design concept.
        %strong
          %p
            This is our current engagement and we are working full time on this effort.
  .col-md-4
    .thumbnail
      .caption
        %h4
          %a{:target => '_blank', :href => 'http://www.rightscale.com'}
            =image_tag 'rightscale.jpg', :class => 'img-responsive', :width => 300
        %p
          %strong
            RightScale provides a complete management platform to design, deploy, and manage the lifecycle of
            mission-critical cloud deployments.
        %p
          We worked with Rightscale starting in January 2012 for two years on their command-line driven, server
          template test automation framework with a domain-specific DSL known affectionately as the Virtual Monkey.
        %p
          Server templates provide a repeatable set of bash scripts or chef recipes that can be applied to a server
          launched in the cloud. Server templates include provisioning logic that can be run at boot-time,
          operationally, or during decommission. We took the Virtual Monkey over and maintained and extended it into
          the Next Generation phase. This work included revamping the domain-specific DSL to support many new advanced
          features like code sharing, test case tagging and shared helpers.
        %p
          Then we hot rodded it with an additional software layer called the Rocket Monkey. This new layer of the
          software stack provides a Google Drive matrix-driven interface that allows simplified definition of server
          template tests across multiple clouds. It also provides a very rich set of web-based reports and embedded
          Google charts. We also, maintained and extended the Virtual Monkey server template in both RightScript and
          Chef-based versions. Combined these three components are the Monkey Stack. We also ported the entire stack
          from Ruby 1.8.7 to 1.9.3. We supported teams in the Santa Barbara area as well as overseas in Belarus.
        %p
          The Virtual and Rocket monkeys are Ruby based and run on many flavors of Unix both in the cloud and locally
          (Ubuntu, CentOS, Linux, Mac OSX and others). The Monkey Stack and test collateral interact with Rightscale's
          API to create and launch servers in the cloud from a designated set of server templates. The monkey framework
          then executes the test collateral to interrogate the operational servers to validate the server templates have
          been coded per specification.
        %p
          We worked with numerous clouds in this engagement including Amazon Web Services (AWS), Rackspace, CloudStack,
          Google Compute Engine (GCE), Azure and HP.
        %p
          %strong
            For more information on the server template test automation framework check out this
            %a{:target => '_blank', :href => 'http://www.rightscale.com/blog/cloud-management-best-practices/continuous-testing-cloud'}great article
            on Continuous Testing in the Cloud.
        %p
          %center
            %a.btn.btn-primary{href: 'about#jonmarinello'} READ THEIR RECOMMENDATIONS &raquo;
  .col-md-4
    .thumbnail
      .caption
        %h4
          %center
          %a{:target => '_blank', :href => 'http://elite-associates.com'}
            =image_tag 'elite_associates.jpg', :class => 'img-responsive', :width => 340
        %p
          %strong
            Elite Associates is involved in all aspects of the design, development and delivery of StarTeam to
            Fortune 1000 customers and uses that experience to help them get the most out of StarTeam.
        %p
          In the summer of 2011 Elite Associates contacted us for help with their development process. They were looking
          for guidance in two key areas; improving software quality and streamlining their engineering process.
        %p
          Elite Associates had been using the Waterfall process for software development but like many companies, they
          were frustrated with how inflexible the process was and they needed to do something to respond to rapidly
          changing customer requirements. We provided them with the training and materials they needed to quickly adopt
          the Scrum Agile development process. This led to a marked increase in their ability to provide customers with
          the features they really needed and avoid building capabilities their customers rarely or never used in
          practice.
        %p
          As part of their conversion to agile software development we recommended that they adopt Test Driven
          Development (TDD). Here we provided them with the training and examples they needed to quickly adopt the new
          testing practice. Thier defect counts were greatly reduced and the overall software quality was immensely
          improved. It also led to much more predictable software planning and execution since much less time was spent
          finding and fixing bugs after the code left the developer’s workstations. QA time was significantly reduced
          and they were no longer considered a bottleneck, but most importantly, their customers were finding fewer
          defects in production.
        %p
          With our help,  the testing and process changes we proposed and helped implement, had a direct and very
          positive impact on how Elite Associates is viewed by their customers and the market in general.
        %p
          %center
            %a.btn.btn-primary{href: 'about#jonmarinello'} READ THEIR RECOMMENDATIONS &raquo;
%p
  %a.btn.btn-success{href: pages_contact_path} READ MORE &raquo;
= javascript_include_tag('pages')
= render 'shared/lets_talk_about_your_project'
