=render 'layouts/main_nav_bar'
%p
  =image_tag 'projects.jpg', :class => 'img-responsive img-rounded'
.row
  .col-md-4
    .thumbnail
      .caption
        %h4
          %center
            %a{:target => '_blank', :href => 'http://www.finandfield.com'}
              =image_tag 'fin_and_field.jpg', :class => 'img-responsive img-rounded'
        %p
          In May of 2014 we were engaged by Fin & Field to join the engineering team to build their web-based SaaS platform. The Fin & Field platform provides a large-scale ecosystem to efficiently connect the huge market of hunters and anglers with the hunting guides, hunting lodges, boat captains and marinas in the US. It platform integrates many of the general concepts found in social networking and booking sites like Facebook and AirBnB.
        %p
          The platform is implemented using Ruby on Rails running on the Heroku cloud. The website employs the Responsive web design (RWD) approach. This web design approach is aimed at crafting sites to provide an optimal viewing experience—easy reading and navigation with a minimum of resizing, panning, and scrolling—across a wide range of devices (from mobile phones to desktop computer monitors). The website is styled using bootstrap 3 and uses the fluid grid design concept.
        %p
          The Fin & Field website is implemented with Rails 4.1.1 and Ruby 2.0.0.
        %p
          %strong
            This is our current engagement and we are working full time on this effort.
  .col-md-4
    .thumbnail
      .caption
        %h4
          %a{:target => '_blank', :href => 'http://www.rightscale.com'}
            =image_tag 'rightscale.jpg', :class => 'img-responsive'
        %p
          We worked with Rightscale starting in January 2012 for two years on their command-line driven, server template test automation framework with a domain-specific DSL known affectionately as the Virtual Monkey.
        %p
          Server templates provide a repeatable set of bash scripts or chef recipes that can be applied to a server launched in the cloud. Server templates include provisioning logic that can be run at boot-time, operationally, or during decommission.
        %p
          We took the Virtual Monkey over and maintained and extended it into the Next Generation phase. This work included revamping the domain-specific DSL to support many new advanced features like code sharing, test case tagging and shared helpers. Then we hot rodded it with additional layer called the Rocket Monkey. This new layer of the software stack provides a Google Drive matrix-driven interface that allows simplified definition of server template tests across multiple clouds. We also, maintained and extended the Virtual Monkey server template in both RightScript and Chef versions. Combined these three components are the Monkey Stack. We also ported the entire stack from Ruby 1.8.7 to 1.9.3.
        %p
          This Virtual and Rocket monkeys are Ruby based and run on many flavors of Unix both in the cloud and locally (Ubuntu, CentOS, Linux, Mac OSX and others). The Monkey Stack and test collateral interact with Rightscale's API to create and launch servers in the cloud from a designated set of server templates. The monkey framework then executes the test collateral to interrogate the operational servers to validate the server templates have been coded per specification.
        %p
          We worked with numerous clouds in this engagement including Amazon Web Services (AWS), Rackspace, CloudStack, Google Compute Engine (GCE), Azure and HP.
        %p
          %a.btn.btn-warning.btn-block{href: 'about#jonmarinello'} Recommendations
  .col-md-4
    .thumbnail
      .caption
        %h4
          %center
          %a{:target => '_blank', :href => 'http://elite-associates.com'}
            =image_tag 'elite_associates.jpg', :class => 'img-responsive'
        %p
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
        %p
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        %p
          %a.btn.btn-warning.btn-block{href: 'about#jonmarinello'} Recommendations
