%p
  =image_tag 'services.jpg', :class => 'img-responsive img-rounded'
.row
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %p
          =image_tag 'conceptual_planning.jpg', :class => 'img-responsive pull-left mrsc-padded-image', :width => 180
        %h4
          Agile/Scrum Software Development
        %p
          %strong
            We Are A Dedicated Scrum Development Shop With Scrum Certification
        %p
          We want to develop your project in close concert with you. Along the way, delivering and iterating usable
          features that you can use.
        %p
          %strong Why Scrum?
        %p
          Agile development provides opportunities to assess the direction throughout the development lifecycle.
          This is achieved through regular cadences of work, known as Sprints or iterations, at the end of which teams
          must present a potentially shippable product increment. By focusing on the repetition of abbreviated work
          cycles as well as the functional product they yield, agile methodology is described as “iterative” and
          “incremental.” In waterfall, development teams only have one chance to get each aspect of a project right.
          In an agile paradigm, every aspect of development — requirements, design, etc. — is continually revisited.
          When a team stops and re-evaluates the direction of a project every two weeks, there’s time to steer it in
          another direction.
        %p
          This “inspect-and-adapt” approach to development greatly reduces development costs and time to market.
          Because teams can develop software at the same time they’re gathering requirements, “analysis paralysis”
          is less likely to impede a team from making progress. And because a team’s work cycle is limited to two weeks,
          stakeholders have recurring opportunities to calibrate releases for success in the real world. Agile
          development helps companies build the right product. Instead of committing to market a piece of software that
          hasn’t been written yet, agile empowers teams to continuously replan their release to optimize its value
          throughout development, allowing them to be as competitive as possible in the marketplace. Agile development
          preserves a product’s critical market relevance and ensures a team’s work doesn’t wind up on a shelf, never
          released.
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %p
          =image_tag 'mind_map.png', :class => 'img-responsive pull-left mrsc-padded-image', :width => 180
        %h4
          Mind Mapping
        %p
          %strong
            Let's Brainstorm Your Ideas And Plans More Deeply, See Where They Lead And Then Diagram And Document
            Them
        %p
          A mind map is a diagram used to visually organise information. A mind map is often created around a single
          concept, drawn as an image in the center of a blank landscape page, to which associated representations of
          ideas such as images, words and parts of words are added. Major ideas are connected directly to the central
          concept, and other ideas branch out from those.
        %p
          What can we use mind maps for?
        %ul
          %li
            Jogging your creativity
          %li
            Brainstorming (individually or in groups)
          %li
            Researching and consolidating information from multiple sources
          %li
            Planning
          %li
            Gaining insight on complex subjects
          %li
            Note taking
          %li
            Problem solving
          %li
            Presenting information
        %p
          Together we'll thoroughly brainstorm your web and mobileproject ideas, how these are connected and where they
          lead. Mind mapping helps us to do this and at the same time will document these ideas, their connections and the
          resources we will need to complete your vision and project.
        %p
          %strong Check out how mind mapping works to help us explore your ideas this short video:
        %p
          .responsive-embedded-youtube-video
            .delimiter
              .container
                %iframe{:frameborder => '0', :src => '//www.youtube.com/embed/v8_H42Z9wxA'}
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %p
          =image_tag 'prototyping.jpg', :class => 'img-responsive pull-left mrsc-padded-image', :width => 130
        %h4
          UX Prototyping
        %p
          %strong Don't Waste Time Coding Until You Understand Your UX Requirements
        %p
          We'll guide you to quickly iterate through your web and mobile application user interface ideas.
        %p
          Before writing any code
          we'll build a set of wireframes to mockup your web or mobile application. Mockups are easy to build quickly and
          super easy to refine. This avoids wasting time writing code for user interfaces that haven't been thoroughly
          thought through and will then need to be changed multiple times.
        %p
          %em Doing this iteration in wireframe mockups significantly reduces costs.
        %p
          Together we'll iterate your ideas by getting immediate and meaningful feedback. Sketch-style wireframes help focus
          the conversation on content and interaction, not minute details (those can come later).
        %p
          Since mockups require little investment in time and effort, we'll help you revise your UX designs more often
          and refine them sooner, leaving more time for discussion and writing code.
          %em All at lower cost to you!
        %p
          %strong Check out how quickly we can mockup a user interface for you in this short video:
        %p
          .responsive-embedded-youtube-video
            .delimiter
              .container
                %iframe{:frameborder => '0', :src => '//www.youtube.com/embed/aJTuFRaIi_g'}
  .clearfix.visible-lg
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %p
          =image_tag 'rails.jpg', :class => 'img-responsive pull-left img-rounded mrsc-padded-image', :width => 120
        %h4
          Ruby On Rails Web & Mobile Development
        %p
          Leberkas boudin pancetta meatball short loin sausage ball tip. Filet mignon salami kielbasa, short loin capicola turkey meatball andouille spare ribs beef beef ribs corned beef drumstick pancetta doner. Pancetta flank ham hock landjaeger swine. Sausage pork loin bresaola drumstick tri-tip biltong fatback. Tongue fatback tri-tip tenderloin. Frankfurter capicola ham hock, filet mignon meatball short loin kielbasa venison turducken chuck shankle beef ribs sirloin.
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %p
          =image_tag 'iphone_ipad.jpg', :class => 'img-responsive pull-left mrsc-padded-image', :width => 180
        %h4
          iPhone/iPad Mobile Application Development
        %p
          Bacon ipsum dolor sit amet capicola pork loin drumstick beef ribs, hamburger ham corned beef chicken sirloin swine brisket ham hock landjaeger meatloaf jowl. Sausage bacon hamburger, flank landjaeger tail filet mignon meatloaf. Filet mignon corned beef pork belly meatloaf, turducken boudin strip steak landjaeger swine pork andouille. Pork belly turducken tenderloin kielbasa bacon pig swine chicken filet mignon. Flank frankfurter spare ribs, short loin ribeye swine beef corned beef shoulder kevin.
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %p
          =image_tag 'cloud.jpg', :class => 'img-responsive pull-left mrsc-padded-image', :width => 160
        %h4
          Everything Cloud
        %p
          Hamburger capicola kevin ball tip cow. Pork belly brisket bresaola beef ribs shank drumstick. Chuck tenderloin shankle beef, rump pork brisket prosciutto tongue bresaola bacon turkey jowl pork belly hamburger. Pork jowl pork belly drumstick shank beef kevin ball tip, hamburger short ribs leberkas. Shoulder jowl corned beef pancetta short ribs shank pork belly doner boudin hamburger bacon. Landjaeger swine tongue, short ribs porchetta chicken tenderloin frankfurter turkey spare ribs t-bone meatball.
