= render partial: 'main_image', :locals => {:greeting => 'We offer the services needed to realize your vision'}
- default_image_width = 200
%h1
  Our Core Services
.row
  .col-md-4
    .thumbnail
      .caption
        %p
          =image_tag 'rails.png', :class => 'img-responsive pull-left img-rounded mrsc-padded-image', :width => default_image_width
        %h4
          Ruby On Rails Web Development
        %p
          %strong
            If you're looking for Ruby on Rails development, you've come to the right place.
        %p
          Rails development is our passion and we love building applications with this framework because of the speed
          of development and the many products around it including
          %a{:target => '_blank', :href => 'https://www.heroku.com/'} Heroku
          for hosting, New Relic for monitoring and many more.
        %p
          Rails provides the the most flexible, scalable, secure and well thought out framework for developing
          today's demanding web applications that need to work on both desktop and mobile platforms. It has a large
          community of developers committed to contributing to the Ruby on Rails open source framework.
        %p
          Coupled with
          %a{:target => '_blank', :href => 'http://en.wikipedia.org/wiki/Responsive_web_design'}Responsive web design (RWD)
          the Rails applications we build provide an optimal user experience with easy navigation, minimum
          resizing, panning, and scrolling—across a wide range of devices (from mobile phones to desktop computer monitors).
        %p
          When you're ready to get started with the development of your Ruby on Rails app, we're ready for you.
        %p
          %strong
            Check out this
            %a{:target => '_blank', :href => 'http://www.toptal.com/ruby-on-rails/after-two-decades-of-programming-i-use-rails'}
              great article
            on why Rails is so popular with the development community.
  .col-md-4
    .thumbnail
      .caption
        %p
          =image_tag 'iphone_ipad.png', :class => 'img-responsive pull-left mrsc-padded-image', :width => default_image_width
        %h4
          iOS/iPhone/iPad Mobile App Development
        %p
          %strong
            Let's build the next great iPhone/iPad app
        %p
          We love building iPhone and iPad apps. We do native iPhone app development and responsive mobile web
          development. Have an app idea or design you want to get into this rapidly growing marketplace?
        %p
          We started developing iPhone apps two years ago in response to the growing demand in the mobile app
          development space. iPhone app development is now a critical part of any product strategy and its worth
          thinking through if you need a native iPhone app or you prefer a responsive web approach where the mobile
          experience on your site is optimized.
        %p
          iPhone app development is moving fast, and we're committed to staying on top of the best frameworks,
          techniques and design standards for mobile.
        %p
          We're ready to get started developing your iPhone app when you are.
        %strong
          Check out this cool Apple video called
          %a{:target => '_blank', :href => 'http://youtu.be/EBSU9KaCYP4'} Apps We Can't Live Without
          %strong
            which should get your juices flowing about a mobile app you could be adding to the Apple marketplace.
  .col-md-4
    .thumbnail
      .caption
        %p
          =image_tag 'scrum.png', :class => 'img-responsive pull-left mrsc-padded-image', :width => default_image_width
        %h4
          Agile/Scrum Software Development
        %p
          %strong
            We Are A Dedicated Scrum Development Shop With Scrum Certification
        %p
          We want to develop your project in close concert with you. Along the way, delivering and iterating usable
          features that you can use now. Using Scrum we can get you the most "bang for the buck" as early as possible.
        %p
          %strong Why Scrum?
        %p
          Agile development provides opportunities to assess the direction throughout the development lifecycle.
          This is achieved through regular cadences of work, known as Sprints or iterations, at the end of which teams
          must present a potentially shippable product increment. By focusing on the repetition of abbreviated work
          cycles as well as the functional product they yield, agile methodology is described as “iterative” and
          “incremental.” In waterfall, development teams only have one chance to get each aspect of a project right.
          In an agile paradigm, every aspect of development — requirements, design, etc. — is continually revisited.
          When a team stops and re-evaluates the direction of a project every two weeks, there’s time to steer it in
          another direction.
        -#%p
        -#  This “inspect-and-adapt” approach to development greatly reduces development costs and time to market.
        -#  Because teams can develop software at the same time they’re gathering requirements, “analysis paralysis”
        -#  is less likely to impede a team from making progress. And because a team’s work cycle is limited to two weeks,
        -#  stakeholders have recurring opportunities to calibrate releases for success in the real world. Agile
        -#  development helps companies build the right product. Instead of committing to market a piece of software that
        -#  hasn’t been written yet, agile empowers teams to continuously replan their release to optimize its value
        -#  throughout development, allowing them to be as competitive as possible in the marketplace. Agile development
        -#  preserves a product’s critical market relevance and ensures a team’s work doesn’t wind up on a shelf, never
        -#  released.
        %strong
          To get a short introduction to Scrum take a look at this short video called
          %a{:target => '_blank', :href => 'http://youtu.be/XU0llRltyFM'}
            %strong
              Intro to Agile Scrum in Under 10 Minutes - What is Scrum?
.row
  .col-md-4
    .thumbnail
      .caption
        %p
          =image_tag 'mind_map.png', :class => 'img-responsive pull-left mrsc-padded-image', :width => default_image_width
        %h4
          Mind Mapping
        %p
          %strong
            Let's Brainstorm Your Ideas And Plans More Deeply, See Where They Lead And Then Diagram And Document
            Them
        %p
          A mind map is a diagram used to visually organise information. A mind map is often created around a single
          concept, drawn as an image in the center of a blank landscape page, to which associated representations of
          ideas such as images, words and parts of words are added. Major ideas are connected directly to the central
          concept, and other ideas branch out from those.
        %p
          What can we use mind maps for?
        %ul
          %li
            Jogging your creativity
          %li
            Brainstorming (individually or in groups)
          %li
            Researching and consolidating information from multiple sources
          %li
            Planning
          %li
            Gaining insight on complex subjects
          %li
            Note taking
          %li
            Problem solving
          %li
            Presenting information
        %p
          Together we'll thoroughly brainstorm your web and mobileproject ideas, how these are connected and where they
          lead. Mind mapping helps us to do this and at the same time will document these ideas, their connections and the
          resources we will need to complete your vision and project.
        %p
          %strong
            Check out how mind mapping works to help us explore your ideas in this short video called
          %a{:target => '_blank', :href => 'http://youtu.be/v8_H42Z9wxA'}
            %strong
              How To Make A Mind Map
  .col-md-4
    .thumbnail
      .caption
        %p
          =image_tag 'prototyping.png', :class => 'img-responsive pull-left mrsc-padded-image', :width => default_image_width
        %h4
          UX Prototyping
        %p
          %strong Don't Waste Time Coding Until You Understand Your UX Requirements
        %p
          We'll guide you to quickly iterate through your web and mobile application user interface ideas.
        %p
          Before writing any code
          we'll build a set of wireframes to mockup your web or mobile application. Mockups are easy to build quickly and
          super easy to refine. This avoids wasting time writing code for user interfaces that haven't been thoroughly
          thought through and will then need to be changed multiple times.
        %p
          %em Doing this iteration in wireframe mockups significantly reduces costs.
        %p
          Together we'll iterate your ideas by getting immediate and meaningful feedback. Sketch-style wireframes help focus
          the conversation on content and interaction, not minute details (those can come later).
        %p
          Since mockups require little investment in time and effort, we'll help you revise your UX designs more often
          and refine them sooner, leaving more time for discussion and writing code.
          %em All at lower cost to you!
        %p
          %strong Take a quick look at how quickly we can mockup a user interface for you in this video called
          %a{:target => '_blank', :href => 'http://youtu.be/aJTuFRaIi_g'}
            %strong
              Balsamiq Mockups Intro
  .col-md-4
    .thumbnail
      .caption
        %p
          =image_tag 'cloud.png', :class => 'img-responsive pull-left mrsc-padded-image', :width => default_image_width
        %h4
          Everything Cloud
        %p
          %strong
            Time-to-market, more flexible support for business strategies by IT, and faster response time to
            competitive conditions are combining to accelerate cloud computing adoption today.
        %p
          If you are looking for expertise in cloud computing then we can help. Cloud computing has become an integral
          part of businesses of all sizes because it allows a company to focus on what they do best without the hassle
          of hardware and software.
        %p
          Cloud computing is in high demand because it allows companies to scale with ease. They can pay for as much as
          they use whether it be processing, storage or other cloud services. The cloud brings a high level of
          automation to tasks that in the past was not possible which can save companies time and money.
        %p
          There are many different cloud computing solutions and it can be daunting to figure out what exactly your
          company needs. Our cloud computing experts know this and can help you form a plan for your cloud
          implementation.
        %p
          Together we'll explore the power, flexibility and cost savings that cloud computing offers and how it can
          benefit your organization.
        %p
          %strong Check out this great short video called
          %a{:target => '_blank', :href => 'http://youtu.be/ae_DKNwK_ms'}
            %strong
              What is Cloud Computing?
%p
  %a.btn.btn-success{href: '/pages/contact'} READ MORE &raquo;
= javascript_include_tag('main_image_resize')
