%p
  =image_tag 'services.jpg', :class => 'img-responsive img-rounded'
.row
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %h4
          Conceptual planning
        %p
          =image_tag 'conceptual_planning.jpg', :class => 'img-responsive pull-left', :width => 100
          Bacon ipsum dolor sit amet capicola pork loin drumstick beef ribs, hamburger ham corned beef chicken sirloin swine brisket ham hock landjaeger meatloaf jowl. Sausage bacon hamburger, flank landjaeger tail filet mignon meatloaf. Filet mignon corned beef pork belly meatloaf, turducken boudin strip steak landjaeger swine pork andouille. Pork belly turducken tenderloin kielbasa bacon pig swine chicken filet mignon. Flank frankfurter spare ribs, short loin ribeye swine beef corned beef shoulder kevin.
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %h4
          Mind Mapping
        %p
          =image_tag 'mind_map.gif', :class => 'img-responsive pull-left', :width => 120
          Hamburger capicola kevin ball tip cow. Pork belly brisket bresaola beef ribs shank drumstick. Chuck tenderloin shankle beef, rump pork brisket prosciutto tongue bresaola bacon turkey jowl pork belly hamburger. Pork jowl pork belly drumstick shank beef kevin ball tip, hamburger short ribs leberkas. Shoulder jowl corned beef pancetta short ribs shank pork belly doner boudin hamburger bacon. Landjaeger swine tongue, short ribs porchetta chicken tenderloin frankfurter turkey spare ribs t-bone meatball.
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %h4
          UX Prototyping
        %p
          =image_tag 'prototyping.jpg', :class => 'img-responsive pull-left', :width => 80
          Pork pig bresaola porchetta bacon pastrami. Jowl pork belly short loin venison bacon shankle meatloaf flank strip steak chuck tri-tip. Filet mignon pork loin turducken pastrami. Tri-tip pig kielbasa pork belly sirloin tenderloin pancetta meatloaf prosciutto shoulder.
          %p
            .responsive-embedded-youtube-video
              .delimiter
                .container
                  %iframe{:frameborder => '0', :src => "//www.youtube.com/embed/aJTuFRaIi_g"}
  .clearfix.visible-lg
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %h4
          Agile Rails/Ruby Development
        %p
          =image_tag 'rails.jpg', :class => 'img-responsive pull-left img-rounded', :width => 80
          Leberkas boudin pancetta meatball short loin sausage ball tip. Filet mignon salami kielbasa, short loin capicola turkey meatball andouille spare ribs beef beef ribs corned beef drumstick pancetta doner. Pancetta flank ham hock landjaeger swine. Sausage pork loin bresaola drumstick tri-tip biltong fatback. Tongue fatback tri-tip tenderloin. Frankfurter capicola ham hock, filet mignon meatball short loin kielbasa venison turducken chuck shankle beef ribs sirloin.
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %h4
          Automated Deployment
        %p
          =image_tag 'automated_deployment.jpg', :class => 'img-responsive pull-left', :width => 100
          Bacon ipsum dolor sit amet capicola pork loin drumstick beef ribs, hamburger ham corned beef chicken sirloin swine brisket ham hock landjaeger meatloaf jowl. Sausage bacon hamburger, flank landjaeger tail filet mignon meatloaf. Filet mignon corned beef pork belly meatloaf, turducken boudin strip steak landjaeger swine pork andouille. Pork belly turducken tenderloin kielbasa bacon pig swine chicken filet mignon. Flank frankfurter spare ribs, short loin ribeye swine beef corned beef shoulder kevin.
  .col-lg-4.col-md-6.col-sm-10.col-xs-12
    .thumbnail
      .caption
        %h4
          Everything Cloud
        %p
          =image_tag 'cloud.jpg', :class => 'img-responsive pull-left', :width => 90
          Hamburger capicola kevin ball tip cow. Pork belly brisket bresaola beef ribs shank drumstick. Chuck tenderloin shankle beef, rump pork brisket prosciutto tongue bresaola bacon turkey jowl pork belly hamburger. Pork jowl pork belly drumstick shank beef kevin ball tip, hamburger short ribs leberkas. Shoulder jowl corned beef pancetta short ribs shank pork belly doner boudin hamburger bacon. Landjaeger swine tongue, short ribs porchetta chicken tenderloin frankfurter turkey spare ribs t-bone meatball.
