.well
  %h3
    Thank you for contacting us!
  %p
    Mission Ridge Software Consulting has been notified of your request and someone will get back to you shortly regarding your request.
%p
  = render 'shared/read_more', :locals => {target_path: root_path}
= javascript_include_tag('pages')
