=render 'layouts/main_nav_bar'
%h3
  Mission Ridge Software Consulting, LLC
  %p
    %small About Us
%p
  Our mission is to provide our customers with very highest quality consulting services that are delivered per
  specification, on time, every time. We are dedicated to helping you achieve greater success by providing
  targeted technical education, improving your overall level of Engineering Excellence as well as directly
  contributing to the development of your products and services. Your success and satisfaction is what makes
  or breaks our business.
