=render 'layouts/main_nav_bar'
%p
  =image_tag 'about.jpg', :class => 'img-responsive img-rounded'
%h3
  Our Mission
.well
  Our mission is to provide our customers with very highest quality consulting services that are delivered per
  specification, on time, every time. We are dedicated to helping you achieve greater success by providing
  targeted technical education, improving your overall level of Engineering Excellence as well as directly
  contributing to the development of your products and services. Your success and satisfaction is what makes
  or breaks our business.

  Mission Ridge Software Consulting LLC is a sole proprietorship owned and operated by Jon Marinello.
%h3
  The Team
.panel.panel-default
  .panel-heading
    %h3.panel-title
      =image_tag 'jonmarinello.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => 140
      %a{:target => '_blank', :href => 'http://www.linkedin.com/in/jonmarinello'} Jon Marinello
  .panel-body
    %p
      Hi, I'm Jon Marinello, the founder and CTO of Mission Ridge Software Consulting LLC which began operations in 2011.
      I have over 30 years of experience developing highly scalable, reliable and available software systems
      in use today by tens of millions of subscribers. I have held senior level positions at Borland, Unisys,
      Callwave, United Online (NetZero & Juno) and Microsoft.
    %p
      In the past we've helped companies transition to Agile methodologies as well as maintaining and extending
      Ruby-based large-scale
      test automation frameworks.
    %p
      Currently, I prefer to work in Ruby on Rails. Its a wonderful platform that allows you to get
      the most bang for your buck and supports all the latest and greatest web-related technologies. This is my
      passion and I love building "responsive" web applications.
    %p
      Click
      %a{:target => '_blank', :href => 'http://www.linkedin.com/in/jonmarinello'} here
      to see the details of all my qualifications on LinkedIn.
    %p
      Since forming Mission Ridge Software Consulting, I've worked with several companies and they have had a lot of
      great things to say about the services Mission Ridge Software Consulting LLC provided. Check out these recommendations:
%h3
  Recommendations
#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#shawn_duex"}
          Shawn Duex - Engineering Manager at RightScale, October 23, 2013
    #shawn_duex.panel-collapse.collapse.in
      .panel-body
        =image_tag 'shawn_duex.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => @person_image_width
        %p
          "Jon and I have been working together on and off since 2008. We worked together at Microsoft and most
          recently we have been working closely at Rightscale. Jon is responsible for the development and support
          of our automated test frameworks. These frameworks included the virtual monkey and rocket monkey testing
          tools used by my team to validate RightScale's Windows RightImages and ServerTemplates.
        %p
          Jon has consistently provided amazing support for my team. He has championed many important features my
          team has needed and he builds these new features with an extremely high level of quality. Jon is very quick
          to deliver and does an amazing job following up with my team to ensure that these new features are
          successfully integrated. If we encounter an issue, Jon is always readily available to suggest a work-around
          and get a fix developed quickly.
        %p
          Many of my team members are offshore and Jon has always made him self available during their work day to
          help with issues or troubleshooting problems. Often times Jon will go the extra mile and proactively check
          in with my team members and make sure they are unblocked and working efficiently with the tools he supports.
        %p
          In summary, Jon provides a level of productivity, support, quality and professionalism that is not typical
          in the industry. Coupled with his many years of software development experience, Jon would make a great
          addition to any software development organization that might be considering bringing him on."
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#kannan_manickam"}
          Kannan Manickam - Senior Software Engineer at RightScale, April 8, 2013
    #kannan_manickam.panel-collapse.collapse
      .panel-body
        =image_tag 'kannan_manickam.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => @person_image_width
        %p
          "Jon is an one-man-army in developing and maintaining code for the testing framework used here at
          RightScale to test the server configuration across different cloud vendors and operating systems using
          the API. He always has the passion for learning new tools, technologies, and integrating it with the
          product he builds.
        %p
          Whether it is day or night, He is available to support teams related to issues they
          have with the product he built and fixes them ASAP. Jon's tireless work ethic and positive attitude
          make him a valuable professional. I would recommend Jon without hesitation."
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#nitin_mohan"}
          Nitin Mohan - Senior Software Engineer at RightScale, April 6, 2013
    #nitin_mohan.panel-collapse.collapse
      .panel-body
        =image_tag 'nitin_mohan.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => @person_image_width
        %p
          "Its been a delight to work along-side Jon. He has solid skills in design and finishing projects within
          deadline.
        %p
          He has been instrumental in automating our testing across different cloud providers and
          refactoring test code in ruby to make it easier to understand and use. He is very approachable and
          friendly, and never hesitates to share his wisdom."
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#cary_penniman"}
          Cary Penniman - Software Architect at RightScale, April 5, 2013
    #cary_penniman.panel-collapse.collapse
      .panel-body
        =image_tag 'cary_penniman.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => @person_image_width
        %p
          "Jon has rock solid software engineering skills and has done a great job maintaining and
          refactoring our Ruby-based test framework which tests server configurations in the cloud. He is an asset to any company."
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#dan_onorato"}
          Dan Onorato - Quality Assurance Manager, RightScale April 24, 2012
    #dan_onorato.panel-collapse.collapse
      .panel-body
        =image_tag 'dan_onorato.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => @person_image_width
        %p
          "RightScale contracted with Jon Marinello at Mission Ridge Software Consulting in February of 2012 to
          back-fill the departure of our lead developer who was responsible for a very complex automated test framework
          designed to verify cloud-based server implementations. Jon faced a significant learning curve at the onset
          of this project.
        %p
          He came up to speed very quickly on an array new technologies; Ruby, Bash, Linux, Cloud
          Infrastructure and all our internal applications. In addition to the programming tasks, Jon has also stepped
          up and managed all the Test Automation Agile SDLC (Scrum) story grooming, sprint planning, estimation and
          sprint execution.
        %p
          Jon’s focus on teamwork, professionalism and after-hours availability have had a significant
          impact on our success. Simply stated, Jon has done an outstanding job and has exceeded all my expectations.
          If you’re looking for software consulting services that you can rely on to solve tough problems,
          I highly recommend Jon Marinello and Mission Ridge Software Consulting."
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#efrain_olivares"}
          Efrain Olivares - Software Develompent Engineer in Test, RightScale April 16, 2012
    #efrain_olivares.panel-collapse.collapse
      .panel-body
        =image_tag 'efrain_olivares.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => @person_image_width
        %p
          "I've had the pleasure of working with Jon on an a very fast moving and quick to yield results test
          automation project. I had been thinking about this project for a while, so I was pleasantly surprised
          when Jon not only quickly picked up the vision of the project but implemented features ahead of schedule
          which added value on a timescale I hadn't foreseen. During planning, he helped guide our discussions down
          to just the necessary details to minimize risk, yet not constrain us or over think a solution.
        %p
          In short,
          Jon has the ability to bring true and tried Software Engineering experience to the table, while at the
          same time keeping an open mind to new possibilities and solutions then following that up with very pragmatic
          engineering skills in execution."
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#steve_reynolds"}
          Steve Reynolds – Managing Partner, Elite Associates 2011
    #steve_reynolds.panel-collapse.collapse
      .panel-body
        =image_tag 'steve_reynolds.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => @person_image_width
        %p
          "We contracted with Mission Ridge Software Consulting to help us in a couple of key areas; Test automation and
          choosing a new SDLC process. MRSC was instrumental in providing the training we needed in these key areas.
          Test Driven Development (TDD) was an area new to us and they walked us through the process, helped us select
          a test framework and mentored us on an ongoing basis. Choosing a new SDLC process was something we always
          wanted to do but just kept putting off. We had been using a form of the Waterfall process but we needed to
          be much more responsive to our customers. MRSC helped us understand the Scrum approach and how it could be
          effectively applied in our company. MRSC provided the training, real-world examples and implementation
          road-map we needed to successfully make the transition to Scrum. The result of this investment is that we
          have really improved our overall engineering excellence, have a happier and much more productive team and,
          most importantly, we have much happier customers. This has had a significant positive impact on our bottom
          line. MRSC gets our highest recommendation!"
