=render 'layouts/main_nav_bar'
%h3
  Mission Ridge Software Consulting, LLC
  %p
    %small About Us
%p
  =image_tag 'about.jpg', :class => 'img-responsive img-rounded'
.well
  Our mission is to provide our customers with very highest quality consulting services that are delivered per
  specification, on time, every time. We are dedicated to helping you achieve greater success by providing
  targeted technical education, improving your overall level of Engineering Excellence as well as directly
  contributing to the development of your products and services. Your success and satisfaction is what makes
  or breaks our business.

.panel.panel-default
  .panel-heading
    %h3.panel-title
      =image_tag 'jonmarinello.jpg', :class => 'padded-image img-responsive img-circle pull-left'
      Jon Marinello
  .panel-body
    %p
      Jon Marinello is the founder and CTO of Mission Ridge Software Consulting, LLC which began operations in 2011.
      Jon has over 30 years of experience developing highly scalable, reliable and available software systems
      in use today by tens of millions of subscribers. Jon has held senior level positions at Borland, Unisys,
      Callwave, United Online (NetZero & Juno) and most recently at Microsoft.
    %p
      Click
      %a{:target => '_blank', :href => 'http://www.linkedin.com/in/jonmarinello'} here
      to see the details of Jon Marinello's qualifications on LinkedIn.
    %p
      Since forming Mission Ridge Software Consulting, we've worked with several companies and they have had a lot of
      great things to say about the services we have
      provided.
    %p
      %a.btn.btn-info{href: 'services' } Read more
