=render 'layouts/main_nav_bar'
%h3
  Mission Ridge Software Consulting, LLC
  %p
    %small Contact Us
%blockquote
  %address
    %strong Mission Ridge Software Consulting
    %br/
    1410 Harbor View Drive
    %br/
    Santa Barbara, CA 93103
    %br/
    (805) 705-7929
  %address
    %strong Email Address
    %br/
    %a{href: "mailto:#"} jon.marinello@missionridgeconsulting.com
