=render 'layouts/main_nav_bar'
%h3
  Mission Ridge Software Consulting, LLC
%p
  =image_tag 'contact.jpg', :class => 'img-responsive img-rounded'
.well-lg
  %blockquote
    %address
      %strong Mission Ridge Software Consulting
      %br/
      1410 Harbor View Drive
      %br/
      Santa Barbara, CA 93103
      %br/
      %abbr{title: 'Phone'} P:
      (805) 705-7929
    %address
      %strong Email
      %br/
      %a{href: "mailto:jonmarinello@gmail.com"} Jon Marinello
