=render 'layouts/main_nav_bar'
%p
  =image_tag 'index.jpg', :class => 'img-responsive img-rounded'
.well-lg
  Mission Ridge Software Consulting is located in Santa Barbara, California and provides quality
  software consulting services at competitive rates. We specialize in
  %a{:target => '_blank', :href => 'http://rubyonrails.org'} Ruby on Rails
  %a{:target => '_blank', :href => 'http://en.wikipedia.org/wiki/Responsive_web_design'} "responsive"
  application development, basic
  %a{:target => '_blank', :href => 'https://www.ruby-lang.org/en/'} Ruby
  application and gem development as well as providing other technical consulting services.
  %p
  %p
    This "responsive" site was developed using Ruby on Rails 4.1 using Bootstrap 3.
  %p
    We've worked with several companies and they have had a lot of great things to say about the services we have
    provided.
  %p
    %a.btn.btn-primary{href: 'statics/services' } READ MORE
