.container
  .page-header
    %h3
      Mission Ridge Software Consulting, LLC
      %p
        %small Quality Consulting Services
  %div
    =image_tag 'mrsc.jpg', :class => 'padded-image img-responsive pull-left'
    Mission Ridge Software Consulting is located in Santa Barbara, California and provides high quality
    software consulting services at competitive rates. We specialize in
    %strong Ruby on Rails
    %a{:target => '_blank', :href => 'http://en.wikipedia.org/wiki/Web_2.0'} Web 2.0
    application development, basic
    %strong Ruby
    development
    and also provide many other technical consulting services.
    %p
    %p
      This site was developed using Ruby on Rails 4.0 using bootstrap and the source code is available
      %a{:target => '_blank', :href => 'https://github.com/jonmarinello/mrsc'} here.
    %p
    %p Be sure to see our customer recommendations.
