.container
  .page-header
    %h3
      Mission Ridge Software Consulting, LLC
      %p
        %small Quality Consulting Services
  %div
    =image_tag 'mrsc.jpg', :class => 'padded-image img-responsive pull-left'
    Mission Ridge Software Consulting is located in Santa Barbara, California and provides high quality
    software consulting services at competitive rates. We specialize in
    %a{:target => '_blank', :href => 'http://rubyonrails.org'} Ruby on Rails
    Web 2.0 application development, basic
    %a{:target => '_blank', :href => 'https://www.ruby-lang.org/en/'} Ruby
    application and gem development as well as providing other technical consulting services.
    This site was developed using Ruby on Rails 4.0 using bootstrap and the source code is available
    %a{:target => '_blank', :href => 'https://github.com/jonmarinello/mrsc'} here.
