.container
  .page-header
    %h3
      Mission Ridge Software Consulting
      %p
        %small High Quality Consulting Services
  %div
    =image_tag 'mrsc.jpg', :class => 'padded-image img-responsive pull-left'
    Mission Ridge Software Consulting is located in Santa Barbara, California and provides very high quality
    software consulting services at competitive rates.
    Please click on the tabs to your left to read more about how we can help your organization with these
    important services. Please contact us if you need help and want to be sure you are set up for
    long-term strategic success.
    %p
    %p Be sure to see our customer recommendations.
