=render 'layouts/main_nav_bar'
%h3
  Mission Ridge Software Consulting, LLC
  %p
    %small Projects
%p
  =image_tag 'projects.jpg', :class => 'img-responsive img-rounded'
.panel.panel-default
  .panel-heading
    %h3.panel-title
      %center Projects
  .panel-body
