.thumbnail
  .caption
    %h4
      %center
      = link_to 'http://elite-associates.com', target: :_blank do
        =image_tag 'elite_associates.jpg', class: 'img-responsive', width: 340
    %p
      %strong
        Elite Associates is involved in all aspects of the design, development and delivery of StarTeam to
        Fortune 1000 customers and uses that experience to help them get the most out of StarTeam.
    %p
      In the summer of 2011 Elite Associates contacted us for help with their development process. They were looking
      for guidance in two key areas; improving software quality and streamlining their engineering process.
    %p
      Elite Associates had been using the Waterfall process for software development but like many companies, they
      were frustrated with how inflexible the process was and they needed to do something to respond to rapidly
      changing customer requirements. We provided them with the training and materials they needed to quickly adopt
      the Scrum Agile development process. This led to a marked increase in their ability to provide customers with
      the features they really needed and avoid building capabilities their customers rarely or never used in
      practice.
    %p
      As part of their conversion to agile software development we recommended that they adopt Test Driven
      Development (TDD). Here we provided them with the training and examples they needed to quickly adopt the new
      testing practice. Thier defect counts were greatly reduced and the overall software quality was immensely
      improved. It also led to much more predictable software planning and execution since much less time was spent
      finding and fixing bugs after the code left the developer’s workstations. QA time was significantly reduced
      and they were no longer considered a bottleneck, but most importantly, their customers were finding fewer
      defects in production.
    %p
      With our help,  the testing and process changes we proposed and helped implement, had a direct and very
      positive impact on how Elite Associates is viewed by their customers and the market in general.
    %p
      %center
        = render 'shared/read_their_recommendations'
