.thumbnail
  .caption
    %h4
      %center
        = link_to 'http://www.finandfield.com', target: :_blank do
          =image_tag 'fin_and_field.jpg', alt: 'Fin & Field', class: 'img-responsive img-rounded'
    %p
      %strong
        Fin & Field is all about the sportsman. Dedicated to those in search of their next outdoor adventure
        and to the outfitters, captains, and guides that make it all possible.
    %p
      In May of 2014 we were engaged by Fin & Field to join the engineering team to build their Ruby on Rails SaaS
      platform. The Fin & Field platform provides a large-scale ecosystem to efficiently connect the huge market
      of hunters and anglers with the hunting guides, hunting lodges, boat captains and marinas in the US.
      The platform integrates many of the general concepts found in social networking and booking sites like
      Facebook and AirBnB.
    %p
      We were involved in all aspects of the development of this service from the first day code was written
      using Ruby on Rails 4, Ruby 2.1, CSS, Bootstrap 3, AngularJS,
      Javascript, CoffeeScript, jQuery and HAML. We also integrated numerous third-party add-ons and external services
      including HireFire, New Relic, Mail Chimp, Google Maps and OptinMonster.
    %p
      %center
        = render 'shared/read_their_recommendations'
