.thumbnail
  .caption
    %h4
      %center
        %a{target: '_blank', href: 'http://www.finandfield.com'}
          =image_tag 'fin_and_field.png', class: 'img-responsive img-rounded'
    %p
      %strong
        Fin & Field is all about the sportsman. Dedicated to those in search of their next outdoor adventure
        and to the outfitters, captains, and guides that make it all possible.
    %p
      In May of 2014 we were engaged by Fin & Field to join the engineering team to build their web-based SaaS
      platform. The Fin & Field platform provides a large-scale ecosystem to efficiently connect the huge market
      of hunters and anglers with the hunting guides, hunting lodges, boat captains and marinas in the US.
      The platform integrates many of the general concepts found in social networking and booking sites like
      Facebook and AirBnB.
    %p
      The platform is implemented using Ruby on Rails running on the Heroku cloud. The website employs the
      Responsive web design (RWD) approach. This web design approach is aimed at crafting sites to provide an
      optimal viewing experience—easy reading and navigation with a minimum of resizing, panning, and
      scrolling—across a wide range of devices (from mobile phones to desktop computer monitors). The website
      is styled using bootstrap 3 and uses the fluid grid design concept.
    %strong
      %p
        This is a current engagement.
