.thumbnail
  .caption
    %h4
      %center
        %a{target: '_blank', href: 'https://www.therealreal.com'}
          =image_tag 'therealreal.png', class: 'img-responsive img-rounded'
    %p
      %strong
        The RealReal is the leader in authenticated luxury consignment. They offer the largest selection of pre-owned
        and authenticated luxury items including men’s and women’s luxury fashion, fine jewelry & watches and fine
        art.
    %p
      In October of 2015 we were engaged by TheRealReal on a short-term basis to join the engineering team to help out
      with a backlog of Business Intelligence (BI) programming tasks and other work.  In addition to the BI work, we
      helped them fix a number of bugs as well as helping them catch up on technical debt on a Rails 3 architecture.
    %p
      We integrated with the development and quality assurance teams using Slack, Pivotal Tracker, GitHub. The BI
      technologies used were Snowplow and Optimizely.
    %p
      The platform is implemented using Ruby on Rails running in the cloud. The website employs the
      Responsive web design (RWD) approach that also has to work on mobile platforms.
    %strong
      %p
        This is a current engagement.
    %p
      %center
        %a.btn.btn-primary{href: 'about#jonmarinello'} READ THEIR RECOMMENDATIONS &raquo;
