// Push down the body so that the fixed toolbar won't cover the content
body {
  padding-top: 30px;
}

// Change the default padding so that the MRSC logo fits inside the toolbar
.navbar-brand {
  padding: 2px;
}

// application container
.mrsc-container {
  padding: 1em;
}

// Fixes anchor landing to accommodate the fixed header
.anchor {
  position: relative;
  top: -50px;
}
