// Push down the body so that the fixed toolbar won't cover the content
body {
  padding-top: 30px;
}

// application container
.mrsc-container {
  padding: 1em;
}

// Fixes anchor landing to accommodate the fixed header
.anchor {
  position: relative;
  top: -50px;
}

// Move the index image where it needs to go
#index-image {
  margin-top: 8px;
}

.google-map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
