// Push down the body so that the fixed toolbar won't cover the content
body {
  padding-top: 30px;
}

// Change the default padding so that the MRSC logo fits inside the toolbar
.navbar-brand {
  padding: 2px;
}

// application container
.mrsc-container {
  padding: 1em;
}

// Fixes anchor landing to accommodate the fixed header
.anchor {
  position: relative;
  top: -50px;
}

// Pushes the carousel caption up a little
.carousel-caption {
  padding-bottom: 12%;
}


.carousel-caption .main-image-text .page-header {
  font-family: 'Shadows Into Light', cursive;
  font-size-adjust: 0.80;
}

// Bootstrap carousel fade feature customization
.carousel .item {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.carousel .active.left {
  left: 0;
  opacity: 0;
  z-index: 2;
}
.carousel .next {
  left: 0;
  opacity: 1;
  z-index: 1;}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}
