// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mrsc-padded-image {
  padding-right: 1em;
  padding-bottom: 0.10em;
}

.social-media {
  align: center;
  width: 22em;
}

// Styles for floating text on main image
#container
{
  position: relative;
}

#main-image
{
  position: absolute;
  left: 0;
  top: 0;
}

#main-image-text
{
  z-index: 100;
  position: absolute;
  color: white;
  // font-size:36px;
  font-weight: bold;
  left: 10px;
  top: 2px;
}
