.padded-right-bottom-image {
  padding-right: 1em;
  padding-bottom: 0.10em;
}

.social-media {
  align: center;
  width: 27em;
}

.highlighted {
  color: darkorange;
}

// Turn off bold for simple form labels
label{font-weight:normal !important};
