/*
  Pages Styles
*/

.padded-right-bottom-image {
  padding-right: 1em;
  padding-bottom: 0.10em;
}

.mrsc-image {
  margin-top: -6px;
  margin-left: -8px;
}

.social-media {
  width: 27em;
}

.highlighted {
  color: darkorange;
}


// Google Map
.google-map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
