.padded-right-bottom-image {
  padding-right: 1em;
  padding-bottom: 0.10em;
}

.mrsc-image {
  margin-top: -6px;
  margin-left: -8px;
}

.social-media {
  align: center;
  width: 27em;
}

.highlighted {
  color: darkorange;
}
