// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mrsc-padded-image {
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.social-media {
  align: center;
  width: 22em;
}
