!!!
%html
  %head
    %title MRSC
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  .mrsc_container
    = yield
    %center
      %footer
        %small
          Mission Ridge Software Consulting, LLC founded 2011 © 2014
  %script{:src => 'http://code.jquery.com/jquery-latest.min.js'}
